body, *{
    margin: 0;
    padding: 0;
    font-family: 'Urbanist';
}

.header{
    position: relative;
}

.container1{
    height: 100vh;
    display: flex;
    position: relative;
}

.image-content{
    width: 33.33%;
    background-color: rgb(24, 58, 58);
    height: 100%;
    background-image: url('./images/kyle-johnson.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading-content{
    width: auto;
    height: 5rem;
    border: 1px solid brown;
}

.logo{
    background-image: url('./images/hero_graphics.png');
    width: 6.063rem;
    height: 5rem;
    background-size: cover;
    margin-left: 20%;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.8rem;
}

.btn{
    padding: 1rem 2rem;
    text-decoration: none;
    color: white;
}

.signup{
    border-radius: 2.5rem;
    padding:1rem 2rem;
    color: white;
    background-color: none;
}

.login{
    border-radius: 2.5rem;
    padding:1rem 3rem;
    background-color: white;
    color: black;
}

.btnOption{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 1.8rem;
    margin-right: 20%;
}

#search-icon{
    width: 1.386rem;
    height: 1.386rem;
    padding: 0 1rem;
}

.container2{
    margin: 6.375rem;
    display: flex;
    flex-direction: column;
    padding: 0 6.5rem;
}

.feature-label{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countries-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-view{
    border-radius: 2.5rem;
    padding:1rem 3rem;
    border: 1px solid black;
}

.container3{
    margin: 6.375rem;
    display: flex;
    flex-direction: column;
    padding: 0 6.5rem;
}

.image-container{
    background-color: blanchedalmond;
    height: 28.25rem;
}

.countries-content{
    width: 33.33%;
}

.bg-01{
    background-image: url("./images/huper-by-joshua-a.jpg");
}

.bg-02{
    background-image: url("./images/jordan-steranka.jpg");
}

.bg-03{
    background-image: url("./images/michael-krahn.jpg");
}